
.img-pokemon {
  width: 220px;
  height: auto;
  margin-right: 10px;
  filter: drop-shadow(0 0 1.5em #26de81)
}

.img-content {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-weight: 500;
}

.img-content img {
  max-width: 100px;
  height: auto;
}

.img-type {
  width: 40px;
  height: 40px;
}

.float-content {
  position: relative;
  animation: floatAnimation 4s infinite linear;
}

.badge {
  text-shadow: 0 0 2px #ffffff, 0 0 2px #282828;
}

.floating-image {
  object-fit: cover;
  border: 4px solid #3498db;
  border-radius: 50%;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
