/* For use in src/lib/core/theming/_palette.scss */
$md-pokeblue: (
  50 : #e7edf5,
  100 : #c2d1e7,
  200 : #99b3d7,
  300 : #7094c7,
  400 : #527dbb,
  500 : #3366af,
  600 : #2e5ea8,
  700 : #27539f,
  800 : #204996,
  900 : #143886,
  A100 : #bbceff,
  A200 : #88a8ff,
  A400 : #5583ff,
  A700 : #3b71ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);

$md-pokeyellow: (
    50 : #fff9e1,
    100 : #ffefb4,
    200 : #ffe582,
    300 : #ffdb50,
    400 : #ffd32b,
    500 : #ffcb05,
    600 : #ffc604,
    700 : #ffbe04,
    800 : #ffb803,
    900 : #ffac01,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe8bf,
    A700 : #ffdea6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-pokered: (
    50 : #ffe7e2,
    100 : #fec3b6,
    200 : #fe9c86,
    300 : #fd7455,
    400 : #fc5630,
    500 : #fc380c,
    600 : #fc320a,
    700 : #fb2b08,
    800 : #fb2406,
    900 : #fa1703,
    A100 : #ffffff,
    A200 : #ffeeed,
    A400 : #ffbdba,
    A700 : #ffa5a1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

